* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
  }
.center{
    align-items: center;
    text-align: center;
}
h2{
    font-family: serif;
    font-family: Proza Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #7EBC89;
}
.assist{
    background: #C1DBB3;
    border: 2px solid #7EBC89;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 20px;
    color: #5B6E7F;
    width: 250px;
    height: 50px;
}
.assist:hover{
    background: #FFFFFF;
    border: 2px solid #5B6E7F;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 20px;
    color: #7EBC89;
}
.NGOlink{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #7EBC89;
}
.NGOlink:hover{
    text-decoration: underline;
    color: #7EBC89;
}