/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #c1dbb3;
    color: #5b6e7f;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    border-radius: 15px;
    text-align: center;
    outline: none;
    z-index: 100;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    margin-top: 2vh;
    width: 90%;
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 2px solid #7ebc89;
    box-shadow: 0px 7px 4px #c1dbb3;
    border-radius: 15px;
    
  }
 
  .form-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
  }
  .collapsible:after {
    /*content: '\0142F'; /* Unicode character for "plus" sign (+) */
    background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
    font-size: 18px;
    color: #5b6e7f;
    float: center;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .acc-active:after {
    /*content: "\1431"; /* Unicode character for "minus" sign (-) */
    background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
  }

  /* h4 {
    background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
  background-size: 20px;
    cursor: pointer;
    font-size: 18px;
  }
  .acc-active {
          background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
    } */
  
    .school{
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: space-between;
    }

    .edu{
      width: 80%;
      display: flex;
      justify-content: center;
      font-size: 20px;
    }

    .seasons{
      display: flex;
      justify-content: space-evenly;
      width: 80%;
    }

    .s-btn{
    background: #FFFFFF;
    border: 2px solid #5B6E7F;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 20px;
    color: #5B6E7F;
    }

    .selected{
      background: #C1DBB3;
    border: 2px solid #7EBC89;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 20px;
    color: #5B6E7F;
    
    }

    .cloth-label{
      width: 80%;
      display: flex;
      justify-content: center;
      font-size: 20px;
    }