.title{
    /* CROSSCONNECT */


position: absolute;
width: 630px;
height: 110px;
left: 415px;
top: 402px;

font-family: Proza Libre;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 87px;
text-align: center;

color: #7EBC89;
}